pandas
ipynb
ipykernel
pydantic
langchain
ipykernel
langchain-openai
langchain_groq
langchain
python-dotenv
tiktoken
langchain-google-genai 
langchain_community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
google-generativeai
chromadb
langchain_huggingface
sentence-transformers
faiss-cpu
langchain_chroma
uvicorn
fastapi
langserve
tf-keras
arxiv
wikipedia
duckduckgo-search
psycopg2-binary
sqlalchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
cassio
datasets
tiktoken
PyPDF2
gradio
langgraph
psycopg2
psycopg
langgraph-cli[inmem]
agents
streamlit
dotenv
google-generativeai
google-genai
email-validator